
<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html lang="en" class="light-style layout-menu-fixed " dir="ltr" data-theme="theme-default" data-/assets-path="../admin-files/assets/" data-template="vertical-menu-template-free">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Dashboard - Analytics | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>
    
    <meta name="description" content="Most Powerful &amp; Comprehensive Bootstrap 5 HTML Admin Dashboard Template built for developers!" />
    <meta name="keywords" content="dashboard, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../admin-files/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../admin-files/assets/vendor/fonts/boxicons.css" />
    
    

    <!-- Core CSS -->
    <link rel="stylesheet" href="../admin-files/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../admin-files/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../admin-files/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../admin-files/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    
    <link rel="stylesheet" href="../admin-files/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    
    <!-- Helpers -->
    <script src="../admin-files/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../admin-files/assets/js/config.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'GA_MEASUREMENT_ID');
    </script>
    <!-- Custom notification for demo -->
    <!-- beautify ignore:end -->

</head>
<body>

 

      

      <!-- Content wrapper -->
      <div class="content-wrapper">

        <!-- Content -->
        
          <div class="container-xxl flex-grow-1 container-p-y">
            
            

<div class="row">
  <div class="col-lg-12 mb-4 order-0">
    <div class="card">
      <div class="d-flex align-items-end row">
        <div class="col-sm-7">
          <div class="card-body">
            <h5 class="card-title text-primary">Welcome Admin 🎉</h5>

            
          </div>
        </div>
        <div class="col-sm-5 text-center text-sm-left">
          <div class="card-body pb-0 px-0 px-md-4">
            <img src="../admin-files/assets/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {{!-- <!-- Total Revenue -->
  
  <!--/ Total Revenue --> --}}
  
  <div class="col-12 col-md-12 col-lg-12 order-3 order-md-2">
    <div class="row">
      {{!-- sales --}}
      <div class="col-4 mb-4">
        <div class="card">
          <div class="card-body">
            <span class="fw-semibold d-block mb-1" style="font-size: 30px;">Sales</span>
            <div class="card-title d-flex align-items-start justify-content-between">
              <div class="avatar flex-shrink-0">
                <i class="bi bi-cart-check-fill" style="font-size: 30px;color: red;"></i>
              </div>
            </div>
            
            <h3 class="card-title text-nowrap mb-2">{{totalSales}}</h3>
            
          </div>
        </div>
      </div>
      {{!-- revenue --}}
      <div class="col-4 mb-4">
        <div class="card">
          <div class="card-body">
            <span class="fw-semibold d-block mb-1" style="font-size:30px; ">Revenue</span>
            <div class="card-title d-flex align-items-start justify-content-between">
              <div class="avatar flex-shrink-0">
                <i class="bi bi-currency-rupee" style="font-size: 30px;color: green;"></i>
              </div>
            </div>
            <h3 class="card-title mb-2">₹ {{totalRevenue}}</h3>
          </div>
        </div>
      </div>

      {{!-- customers --}}
      <div class="col-4 mb-4">
        <div class="card">
          <div class="card-body">
            <span class="fw-semibold d-block mb-1" style="font-size:30px; ">Customers</span>
            <div class="card-title d-flex align-items-start justify-content-between">
              <div class="avatar flex-shrink-0">
                <i class="bi bi-people" style="font-size: 30px;color: yellow;"></i>
              </div>
            </div>
            <h3 class="card-title mb-2">{{totalCustomers}}</h3>
          </div>
        </div>
      </div>
    </div>

    {{!-- weekly sale data --}}
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
              <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                <div class="card-title">
                  <h5 class="text-nowrap mb-2">Sales Report<span>- Last 7 days</span></h5>
                </div>
              </div>
            </div>
            {{!-- This is where the graph will be displayed --}}
            <canvas id="salesChartWeekly" style="width:100%;"></canvas>
          </div>
        </div>
      </div>
    </div>

    {{!-- monthly sale data --}}
    <div class="row"> 
      <div class="col-12  mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
              <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                <div class="card-title">
                  <h5 class="text-nowrap mb-2">Sales Report<span>- Last 12 Months</span></h5>
                </div>
              </div>
            </div>
             {{!-- This is where the graph will be displayed --}}
                  <canvas id="salesChartMonthly" style="width:100%;"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12  mb-4">
        <div class="card">
          <div class="card-title mx-auto mt-3">Recent Sales</div>
          <div class="card-body">
            <table class="table">
              <thead class="text-center">
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Customer</th>
                  <th scope="col">Date</th>
                  <th scope="col">Payment</th>
                  <th scope="col">Total Price</th>
                </tr>
              </thead>
              {{#each recentSales}}
              <tbody>
                
                <td>{{indexFrom1 @index}}</td>
                <td>{{this.userName}}</td>
                <td>{{this.date}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>{{this.totalPrice}}</td>
                
              </tbody>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div
    
  </div>



  <!-- Order Statistics -->
  
  <!--/ Order Statistics -->

  <!-- Expense Overview -->
  
  <!--/ Expense Overview -->

  <!-- Transactions -->
  
  <!--/ Transactions -->
</div>

            
          </div>
          <!-- / Content -->

          
          

<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
    
  </div>
</footer>
<!-- / Footer -->

          
          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    
    
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    
    
  </div>
  <!-- / Layout wrapper -->

  {{!-- CHART.JS --}}

  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>


{{!-- script for weekly sales data --}}
<script>
  const date=[]
  {{#each weeklyGraph}}
  date.unshift('{{this.ddmmyy}}')
  {{/each}}
  console.log(date,"unshifted date")

  const revenue=[]
  {{#each weeklyGraph}}
  revenue.unshift('{{this.revenue}}')
  {{/each}}
  console.log(revenue,"unshifted revenue")

  var xValues = date;
  var yValues = revenue;

new Chart("salesChartWeekly", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Weekly Sales Report"
    }

    
  }
});

</script>


{{!-- script for monthly sales data --}}
<script>
  const monthlyChart=document.getElementById('salesChartMonthly')

const month=[]
{{#each monthlyGraph}}
month.unshift('{{this.month}}')
{{/each}}
console.log(month,"unshifted month")

const revenue=[]
{{#each monthlyGraph}}
revenue.unshift('{{this.revenue}}')
{{/each}}
console.log(revenue,"unshifted revenue")

new Chart(monthlyChart, {
    type: 'bar',
    data: {
      labels: month,
      datasets: [{
        label: 'Monthly Sales data',
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: revenue,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });


</script>

  

  
 
  


  