<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="container mt-5 pl-5">
                    <h2 class="text-center">Edit Products</h2>
                    <form action="/admin/edit-product/{{product._id}}" method="post" role="form" id="submit-form"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" id="contact-name" name="name"
                                placeholder="Product Name" value="{{product.name}}" required>
                            <span id="name-error" style="color: red;"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Category</label>
                            <select id="product-category" name="category" class="form-select" aria-label="Default select example" required>
                            
                            {{#each categories}}
                            <option name="category" value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                            
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="">Price</label>
                            <input type="number" class="form-control" id="contact-price" name="price" placeholder="Price" value="{{product.price}}" required>
                            <span id="price-error" style="color: red;"></span>

                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <input type="text" class="form-control" id="contact-description" name="description"
                                placeholder="Enter product description" value="{{product.description}}" required>
                            <span id="description-error" style="color: red;"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Stock</label>
                            <input type="number" class="form-control" id="contact-stock" name="stock" placeholder="Stock" value="{{product.stock}}" required>
                            <span id="stock-error" style="color: red;"></span>

                        </div>  
                        <div class="form-group">
                            <label for="">Image</label>
                            <img style="height:75px;weight:75px" src="/productImages/{{product.image.[0]}}.jpg" alt="" id="image1">
                            <input type="file" class="form-control" id="image" name="image" placeholder=""   required multiple>
                        </div>
                        


                        <div class="text-center">
                            <button type="submit" id="contact-submit" class="btn btn-primary float-right mt-2"
                                onclick="return validateForm()">Update</button>
                            <div id="submit-error" style="color: red;"></div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- <script>
    function imageView(event){
        document.getElementById('image1').src=URL.createObjectURL(event.target.files[0])      
    }
    function imageView2(event){
        document.getElementById('image2').src=URL.createObjectURL(event.target.files[0])      
    }
    function imageView3(event){
        document.getElementById('image3').src=URL.createObjectURL(event.target.files[0])      
    }
    function imageView4(event){
        document.getElementById('image4').src=URL.createObjectURL(event.target.files[0])      
    }
</script> --}}