<div class="container mt-5">
    <form action="/admin/edit-coupon?id={{couponData._id}}" method="post">
        <div class="form-group my-2">
            <label for="couponName">Coupon Name</label>
            <input type="text" name="couponName" class="form-control" id="couponName"
                value="{{couponData.couponName}}">
        </div>
        <div class="form-group my-2">
            <label for="couponDescription">Coupon Description</label>
            <input type="text" name="couponDescription" class="form-control" id="couponDescription"
                value="{{couponData.couponDescription}}">
        </div>
        <div class="form-group my-2">
            <label for="discountPercent">Discount Percentage</label>
            <input type="number" name="discountPercent" class="form-control" id="discountPercent"
                value="{{couponData.discountPercent}}">
        </div>
        <div class="form-group my-2">
            <label for="validFrom">Start Date</label>
            <input type="date" name="validFrom" class="form-control" id="validFrom"
                value="{{couponData.validFrom}}" required>
        </div>
        <div class="form-group my-2">
            <label for="validTill">End Date</label>
            <input type="date" name="validTill" class="form-control" id="validTill"
                value="{{couponData.validTill}}" required>
        </div>
        <div class="form-group my-2">
            <label for="minAmount">Minimum Purchase Amount</label>
            <input type="number" name="minAmount" class="form-control" id="minAmount"
                value="{{couponData.minAmount}}">
        </div>
        <div class="form-group my-2">
            <label for="maxAmount">Maximum Purchase Amount</label>
            <input type="number" name="maxAmount" class="form-control" id="maxAmount"
                value="{{couponData.maxAmount}}">
        </div>
        <div class="form-group my-2">
            <label for="maxUses">Usage Limit</label>
            <input type="number" name="maxUses" class="form-control" id="maxUses"
                value="{{couponData.maxUses}}">
        </div>
        <div class="form-group my-2">
            <label for="couponType">Status</label>
            <select class="form-control" name="Status" id="couponType" value="{{couponData.Status}}">
                <option>Enable</option>
                <option>Disable</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mt-4">Save Coupon</button>
        </div>
        
    </form>
</div>