<style>
	@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');body{background-color: #eeeeee;font-family: 'Open Sans',serif;font-size: 14px}.container-fluid{margin-top:70px}.card-body{-ms-flex: 1 1 auto;flex: 1 1 auto;padding: 1.40rem}.img-sm{width: 80px;height: 80px}.itemside .info{padding-left: 15px;padding-right: 7px}.table-shopping-cart .price-wrap{line-height: 1.2}.table-shopping-cart .price{font-weight: bold;margin-right: 5px;display: block}.text-muted{color: #969696 !important}a{text-decoration: none !important}.card{position: relative;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: 0px}.itemside{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%}.dlist-align{display: -webkit-box;display: -ms-flexbox;display: flex}[class*="dlist-"]{margin-bottom: 5px}.coupon{border-radius: 1px}.price{font-weight: 600;color: #212529}.btn.btn-out{outline: 1px solid #fff;outline-offset: -5px}.btn-main{border-radius: 2px;text-transform: capitalize;font-size: 15px;padding: 10px 19px;cursor: pointer;color: #fff;width: 100%}.btn-light{color: #ffffff;background-color: #F44336;border-color: #f8f9fa;font-size: 12px}.btn-light:hover{color: #ffffff;background-color: #F44336;border-color: #F44336}.btn-apply{font-size: 11px}
</style>



<div class="col-md-12 ">
	<form action="/checkout" method="post" class="" id="checkout-form">

	<div class="container">
		
			<div class="col-md-12 ">
				
          <div class="mt-5 mb-5  ">
			<div class="row ">
            {{#each address }}
            <div class="card mt-5 mb-2 mx-5 " style="width: 18rem;">
            <div class="card-header text-center">
              Saved Address
            </div>
			<input type="radio"  name="addressId" value="{{this.addressid}}"  >
            <ul class="list-group list-group-flush"> 
              <li class="list-group-item">Address: {{this.address}} </li>
              <li class="list-group-item">City: {{this.city}}</li>
              <li class="list-group-item">Pin Code: {{this.pincode}}</li>
              <li class="list-group-item">Mobile: {{this.mobile}}</li>
               
            </ul>
          </div>
          
          {{/each}}

		  
          </div>
          </div>
		  <div class="text-center">
				<a href="/user-profile" class="btn btn-primary ">Add another Address</a>
		  </div>
		  
        </div>
		<input type="text" name="userId" id="" value="{{userInSession._id}}" hidden>
		
	
</div>

	<div class="row text-center">
		
		<div class="col-md-12 text-center mt-5 border border-2">
			<h4 class="mb-4 font-weight-bold">Payment</h4>
			<div class="d-block mt-3 ">
				<div>
					<div class="custom-control custom-radio mb-2">
						<input id="credit" name="payment-method" type="radio" class="custom-control-input" value="COD" checked=""
							>
						<label class="custom-control-label" for="credit">Cash On Delivery(COD)</label>
					</div>
					<div class="custom-control custom-radio mb-2">
						<input id="debit" name="payment-method" type="radio" class="custom-control-input" value="ONLINE" >
						<label class="custom-control-label" for="debit">Razor Pay</label>
					</div>

					<div class="mt-5">
						<h3 class="font-weight-bold"  > Total:₹ <span id="totalAmount">{{total}}</span></h3>
					</div>

					<div class="cart_coupon mt-5">
	
				
			
	</div>

					<div class="checkout-right-basket ">
					<button type="submit" class="check_out btn btn-success text-white font-weight-bold">MAKE A PAYMENT
						<span class="far fa-hand-point-right"></span>
					</button>
				</div>
				</div>
			</div>
		</div>
	</div>

	

	</form>

	<div class="form-group text-center mt-2"> <label>Have coupon?</label>
					        <div class="input-group">
                            <input type="text" class="form-control" id="couponName" placeholder="Enter Coupon Code">
							
							<button  class="btn btn-primary btn-apply  coupon" onclick="applyCoupon()">Apply</button>
							
							
					        </div>
							<div id="coupon-success" style="color: green;"></div>
							<div id="coupon-error" style="color: red;"></div>
				</div>
</div>









{{!-- <div>
	<div class="row">
		<div class="container col-md-6 mx-5">
			<div class="row"></div>
			<div class="checkout-left">
				<div class="address_form_agile mt-sm-5 mt-4">
					<h4 class="mb-sm-4 mb-3">Add a new Details</h4>
					<form action="payment.html" method="post" class="" id="checkout-form">
						<div class="creditly-wrapper wthree, w3_agileits_wrapper">
							<div class="information-wrapper">
								<div class="first-row">
									<div class="controls form-group">
										<input class="billing-address-name form-control" type="text" name="name"
											placeholder="Full Name" >
									</div>
									<div class="w3_agileits_card_number_grids">
										<div class="w3_agileits_card_number_grid_left form-group">
											<div class="controls">
												<input type="text" class="form-control" placeholder="Mobile Number"
													name="number" >
											</div>
										</div>
										<div class="w3_agileits_card_number_grid_right form-group">
											<div class="controls">
												<input type="text" class="form-control" placeholder="Landmark"
													name="landmark" >
											</div>
										</div>
									</div>
									<div class="controls form-group">
										<input type="text" class="form-control" placeholder="Town/City" name="city"
											>
									</div>
									<div class="controls form-group">
										<select class="option-w3ls">
											<option>Select Address type</option>
											<option>Office</option>
											<option>Home</option>
											<option>Commercial</option>

										</select>
									</div>
								</div>
								<button class="submit check_out btn">Delivery to this Address</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
		<div class="container col-md-3 mt-5 pt-5 border rounded" style="text-align: center">
			<h4 class="mb-4 font-weight-bold">Payment</h4>

			<div class="d-block mt-3">
				<div>
					<div class="custom-control custom-radio mb-2">
						<input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked=""
							>
						<label class="custom-control-label" for="credit">Cash On Delivery(COD)</label>
					</div>
					<div class="custom-control custom-radio mb-2">
						<input id="debit" name="paymentMethod" type="radio" class="custom-control-input" >
						<label class="custom-control-label" for="debit">Razor Pay</label>
					</div>

					<div class="mt-5">
						<h3 class="font-weight-bold">Total:₹ {{total}}</h3>
					</div>
				</div>


				<div class="checkout-right-basket ">
					<a href="payment.html">Make a Payment
						<span class="far fa-hand-point-right"></span>
					</a>
				</div>

			</div>
		</div>
	</div>
</div> --}}

{{!-- custom css --}}





<script>
	function applyCoupon(){
		let couponData=document.getElementById("couponName").value
		console.log(couponData,"hiii")
		let totalPrice=document.getElementById("totalAmount").innerHTML
		console.log(totalPrice,"totalprice")

if(couponData!=''){
	$.ajax({
		url:'/apply-coupon',
		data:{
			coupon:couponData
			
		},
		method:'post',
		success:(response)=>{
           if(response.Invalid){
			document.getElementById("coupon-error").innerHTML='Invalid Coupon'
			setTimeout(()=>{
				document.getElementById("coupon-error").innerHTML=''
			},2000)
		   }
		   else if(response.couponExpired){
			document.getElementById("coupon-error").innerHTML='Invalid Coupon'
			setTimeout(()=>{
				document.getElementById("coupon-error").innerHTML=''
			},2000)
		   }
		   else{
			console.log(response)
			console.log(response.couponvalue)
			if(response.minAmount > totalPrice){
						let moreAmount=response.minAmount-totalPrice
						document.getElementById("coupon-error").innerHTML='Please purchase for ₹ '+moreAmount+ 'to redeem this coupon'
					setTimeout(()=>{
						document.getElementById("coupon-error").innerHTML=''
					},2000)
				}
			if(totalPrice>response.maxAmount){
						let moreAmount=totalPrice-response.maxAmount
						document.getElementById("coupon-error").innerHTML='Please purchase for ₹ '+moreAmount+ ' less to redeem this coupon'
					setTimeout(()=>{
						document.getElementById("coupon-error").innerHTML=''
					},2000)
				}	
				
				
				if(response.couponType==='Amount Discount'){
					let discountPrice=totalPrice-response.couponvalue
					console.log(discountPrice)	
					let finalPrice=discountPrice
					document.getElementById("totalAmount").innerHTML=finalPrice
					document.getElementById("coupon-success").innerHTML='Coupon addedd successfully'
					setTimeout(()=>{
						document.getElementById("coupon-success").innerHTML=''
					},2000)
				}
				else{
					let discountPrice=totalPrice-(totalPrice*(response.couponvalue)/100)
					console.log(discountPrice)
					let finalPrice=Math.round(discountPrice)
					document.getElementById("totalAmount").innerHTML=finalPrice
				}







		   }
		}
	})		
}


 	

	}


		

</script>