<div class="container">
    <div class="row">
        <table class="table mt-3">
           
           
            <tbody> 
                <tr>
                    <th scope="row">Name</th>
                    <td>{{userData.name}}</td>
                    <td><a href="/edit-basic-user-data"><button class="btn btn-primary">Edit</button></a></td>
                </tr>
                <tr>
                    <th scope="row">Mobile</th>
                    <td>{{userData.mobile}}</td>  
                    <td><a href="/edit-basic-user-data"><button class="btn btn-primary">Edit</button></a></td>
                </tr>
                <tr>
                    <th scope="row">Username</th>
                    <td>{{userData.email}}</td>  
                    <td><a href="/edit-important-user-data"><button class="btn btn-primary">Edit</button></a></td>
                </tr>
                <tr>
                    <th scope="row">Password</th>
                    <td><input type="text" value="{{userData.password}} " hidden>******</td>  
                    <td><a href="/edit-important-user-data"><button class="btn btn-primary">Edit</button></a></td>
                </tr>
                {{!-- {{#each userData.address}}
                <tr>
                    <th scope="row">Address</th>
                    <td>{{this.address}},{{this.city}},{{this.pincode}}</td>  
                    <td><a href="/edit-basic-user-data"><button class="btn btn-primary">Edit</button></a></td>
                </tr>
                {{/each}} --}}
            </tbody>
        </table>
    </div>
</div>