<div class="banner-bootom-w3-agileits py-5">
		<div class="container py-md-5 py-4">
			<div class="row">
				<div class="col-lg-5 col-md-8 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider">
							
							<div class="clearfix"></div>
						<div class="flex-viewport" style="overflow: hidden; position: relative;">
							<ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-1004px, 0px, 0px);">
								<div>
									<img src="/product-images/{{this._id}}.jpg"  data-imagezoom="true" class="img-fluid" alt="" draggable="false">

								</div>
								{{!-- <li data-thumb="images/si3.png" class="clone" aria-hidden="true"
									style="width: 502px; margin-right: 0px; float: left; display: block;">
									<div class="thumb-image">
										<img src="/product-images/{{this._id}}.jpg"  data-imagezoom="true" class="img-fluid" alt="" draggable="false">
									</div>
								</li> --}}
								{{!-- <li data-thumb="/product-images/{{product._id}}.jpg" style="width: 502px; margin-right: 0px; float: left; display: block;" class=""
									data-thumb-alt="">
									<div class="thumb-image">
										<img src="images/si1.png" data-imagezoom="true" class="img-fluid" alt="" draggable="false">
									</div>
								</li>
								<li data-thumb="images/si2.png" data-thumb-alt="" class="flex-active-slide"
									style="width: 502px; margin-right: 0px; float: left; display: block;">
									<div class="thumb-image">
										<img src="images/si2.png" data-imagezoom="true" class="img-fluid" alt="" draggable="false">
									</div>
								</li>
								<li data-thumb="images/si3.png" data-thumb-alt="" class=""
									style="width: 502px; margin-right: 0px; float: left; display: block;">
									<div class="thumb-image">
										<img src="images/si3.png" data-imagezoom="true" class="img-fluid" alt="" draggable="false">
									</div>
								</li>
								<li data-thumb="images/si1.png" style="width: 502px; margin-right: 0px; float: left; display: block;"
									class="clone" aria-hidden="true">
									<div class="thumb-image">
										<img src="/product-images/{{product._id}}.jpg" data-imagezoom="true" class="img-fluid" alt="" draggable="false">
									</div>
								</li> --}}
							</ul>
						</div>
						<ol class="flex-control-nav flex-control-thumbs">
							{{!-- <div>
								<img src="/product-images/{{this._id}}.jpg" data-imagezoom="true" class="img-fluid" alt="" draggable="false">
							
							</div> --}}
						
							
								<div class="row">
									<div class="image-container col-md-12" id="image-container">
										<img src="/product-images/{{product._id}}.jpg" class="pb-5" draggable="false" data-imagezoom="true">
									</div>
									
									<div class="col-md-3 border border-1 mx-1 " >
										<img src="/product-images2/{{product._id}}.jpg" class="px-3" draggable="false" style="width:100px;height:100px">
									</div>
									<div class="col-md-3 border border-1 mx-1" >
										<img src="/product-images3/{{product._id}}.jpg" draggable="false" style="width:100px;height:100px">
									</div>
									<div class="col-md-3 border border-1 mx-1" >
										<img src="/product-images4/{{product._id}}.jpg" draggable="false" style="width:100px;height:100px">
									</div>
								</div>
							




							{{!-- <li>
								
							</li>
							<li>
								
							</li>
							<li>
								<img src="images/si3.png" draggable="false" class="">
							</li> --}}
						</ol>
						{{!-- <ul class="flex-direction-nav">
							<li class="flex-nav-prev">
								<a class="flex-prev" href="#">Previous</a>
							</li>
							<li class="flex-nav-next">
								<a class="flex-next" href="#">Next</a>
							</li>
						</ul> --}}
						</div>
					</div>
				</div>
				
				<div class="col-lg-7 single-right-left simpleCart_shelfItem">
					<h3 class="mb-3">{{product.name}}</h3>
					<p class="mb-3">
						<span class="item_price">₹ {{product.price}}</span>
						{{!-- <del class="mx-2 font-weight-light">$400.00</del> --}}
						<label>Free delivery</label>
					</p>
					<div class="single-infoagile">
						<ul>
							<li class="mb-3">
								{{product.description}}
							</li>
							<li class="mb-3">
								Cash on Delivery Eligible.
							</li>
							<li class="mb-3">
								Shipping Speed to Delivery.
							</li>
							{{!-- <li class="mb-3">
								EMIs from $100/month.
							</li> --}}
							{{!-- <li class="mb-3">
								Bank Offer Extra 5% off* with Axis Bank Buzz Credit Card
							</li> --}}
						</ul>
					</div>
					
					<div class="product-single-w3l">
						<p class="my-3">
							<i class="far fa-hand-point-right mr-2"></i>
							1 Year Manufacturer Warranty
							</p><ul>
								<li class="mb-1">
									Handset, Power Adapter, USB Type-C Cable, SIM Eject Tool, Simple Protective Cover,
									Warranty Card, User Guide
								</li>
								<li class="mb-1">
									Full HD+ IPS Display
								</li>
								<li class="mb-1">
									13MP Rear Camera | 8MP Front Camera
								</li>
								<li class="mb-1">
									5020 mAh
								</li>
								<li class="mb-1">
									2340 x 1080 Pixels
								</li>
							</ul>
							{{!-- <p class="my-sm-4 my-3">
								<i class="far fa-hand-point-right mr-2"></i>Net banking &amp; Credit/ Debit/ ATM card
							</p> --}}
					</div>
					<div class="occasion-cart">
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
							<form action="#" method="post">
								<fieldset>
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="business" value=" ">
									<input type="hidden" name="item_name" value="Samsung Galaxy J7 Prime">
									<input type="hidden" name="amount" value="200.00">
									<input type="hidden" name="discount_amount" value="1.00">
									<input type="hidden" name="currency_code" value="USD">
									<input type="hidden" name="return" value=" ">
									<input type="hidden" name="cancel_return" value=" ">
									<a href="/add-to-cart/{{product._id}}" class="btn btn-primary">Add to cart</a>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
<script>
    console.log("image zoom")
    var options = {
    width: 350, // required
    zoomWidth: -1000,
    scale: 0.5,
    offset: {
      vertical: 100,
      horizontal:-400
    }
};
new ImageZoom(document.getElementById("image-container"), options);
</script>





	

{{!-- image zoom script --}}
