<!-- BANNER-->
<div class="">

	<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel" style="z-index: 0;">
  <!-- Indicators -->
  

  <!-- Inner -->
  {{#each bannerData}}
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <a href="/category-products?name={{this.category1}}"><img src="../bannerImages/{{this.image1}}" class="d-block w-100" style="height: 600px;object-fit:fill" alt="TV"/></a>
      <div class="carousel-caption d-none d-md-block">
        
        <h1 style="color: white;">{{this.bannerDescription1}}</h1>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <a href="/category-products?name={{this.category2}}"><img src="../bannerImages/{{this.image2}}" class="d-block w-100" style="height: 600px;object-fit:fill" alt="Mobile"/></a>
      <div class="carousel-caption d-none d-md-block">
        
        <h1 style="color: white;">{{this.bannerDescription2}}</h1>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <a href="/category-products?name={{this.category3}}"><img src="../bannerImages/{{this.image3}}" class="d-block w-100" style="height: 600px;object-fit:fill" alt="Smartwatch"/></a>
      <div class="carousel-caption d-none d-md-block">
    
        <h1 style="color: white;">{{this.bannerDescription3}}</h1>
      </div>
    </div>
  </div>
  {{/each}}
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->


</div>


</div>
	<!-- top Products -->
	<div class="ads-grid py-5">
		<div class="container py-md-5 py-4">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span class="font-weight-normal">Our</span> New Products</h3>
			<!-- //tittle heading -->
			<div class="row">
				
				</div>
				<!-- product left -->
				<div class="agileinfo-ads-display col-lg-12 order-lg-last order-first">
					<div class="wrapper">
						<!-- first section -->
						<div class="product-sec1 px-lg-4">
							<div class="row">
													{{!-- ITEM ADDED TO CARDS --}}

								{{#each products}}
								<div class="col-md-4 product-men">
									<div class="men-pro-item simpleCart_shelfItem mt-5">
										<div class="men-thumb-item text-center">
											<img src="/productImages/{{this.image.[0]}}" style="width:175px;height:200px;object-fit:contain" alt="" class="img-fluid">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="/product-detail?id={{this._id}}" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
										</div>
										<div class="item-info-product text-center mt-2">
											<h4 class="pt-1">
												<a href="/product-detail?id={{this._id}}">{{this.name}}</a>
											</h4>
											<div class="info-product-price">
												<span class="item_price">₹ {{this.price}}</span>
												<del></del>
											</div>
											<div
												class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
												
													<button onclick="addToCart('{{this._id}} ')" class="btn btn-success">Add to Cart</button>
													{{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to cart</a> --}}
												
											</div>
										</div>
									</div>
								</div>
								{{/each}}



								
							</div>
						</div>
						<!-- //first section -->
						<!-- second section -->
						
						<!-- //second section -->
						<!-- third section -->
						<div class="px-lg-4 my-5">
							<div class="product-sec1 product-sec2">
								<div class="row p-5">
									<h3 class="col-md-4 effect-bg">Exciting Deals</h3>
									<p class="w3l-nut-middle">Up to 40% Off</p>
									<div class="col-md-8 bg-right-nut">
										<img src="images/image1.png" alt="" class="img-fluid">
									</div>
								</div>
							</div>
						</div>
						<!-- //third section -->
						
						<!-- 5th section -->
						
						<!-- 5th section -->
					</div>
				</div>
				<!-- //product left -->
			</div>
		</div>
	</div>
	<!-- //top products -->

	<!-- middle section -->
	<div class="join-w3l1 py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<div class="row">
				<div class="col-lg-6">
					<a href="/category-products?name={{this.category2}}">
						<div class="join-agile text-left p-4">
							<div class="row">
								<div class="col-sm-7 offer-name">
									<h6>New Collections, New Trendy</h6>
									<h4 class="mb-3">Smart Watches</h4>
									
								</div>
								<div class="col-sm-5 offerimg-w3l">
									<img src="images/off1.png" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-6 mt-lg-0 mt-4">
					<a href="product.html">
						<div class="join-agile text-left p-4">
							<div class="row ">
								<div class="col-sm-7 offer-name">
									<h6>Top Brands, lowest Prices</h6>
									<h4 class="mb-3">Smart Phones</h4>
									
								</div>
								<div class="col-sm-5 offerimg-w3l">
									<img src="images/off2.png" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- middle section -->
<div style="margin: 8px auto; display: block; text-align:center;">


	<script>
		
	</script>