<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-8">
        <button class="btn btn-success text-white my-3" onclick="generatePDF()">Download Invoice</button>
        <div class="card" style="border-radius: 10px;" id="invoice">
          <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0">Thanks for your Order , {{userName}}!</h5>
          </div>
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              {{!-- <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
              <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p> --}}
            </div>


            {{#each totalOrderDetails}}
            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/productImages/{{this.productDetail.image.[0]}} " class="img-fluid" alt="Phone">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">{{this.productDetail.name}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">{{this.productDetail.category}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Description: {{this.productDetail.description}} </p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Qty: {{this.quantity}} </p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">₹ {{this.finalAmount}}</p>
                  </div>
                </div>







                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                <div class="row d-flex align-items-center">
                  <div class="col-md-2">
                    <p class="text-muted mb-0 small">Track your Order Status</p>
                  </div>

                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      {{#isEqual this.status 'placed'}}
                      <div class="progress-bar" role="progressbar"
                        style="width: 10%; border-radius: 16px; background-color: #292560;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                      {{/isEqual}}
                      {{#isEqual this.status 'Shipped'}}
                      <div class="progress-bar" role="progressbar"
                        style="width: 40%; border-radius: 16px; background-color: #292560;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                      {{/isEqual}}
                      {{#isEqual this.status 'Out for Delivery'}}
                      <div class="progress-bar" role="progressbar"
                        style="width: 90%; border-radius: 16px; background-color: #292560;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                      {{/isEqual}}
                      {{#isEqual this.status 'Delivered'}}
                      <div class="progress-bar" role="progressbar"
                        style="width: 100%; border-radius: 16px; background-color: #292560;" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                      {{/isEqual}}
                    </div>

                    <div class="d-flex justify-content-around mb-1">
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">{{this.status}}</p>
                    </div>



                  </div>
                  {{#isEqual this.status 'placed'}}
                  <div class="col-md-6" data-html2canvas-ignore="true">
                    <button class="btn btn-danger"
                      style="border-radius: 6px; background-color: rgb(245, 21, 21); color: white;"
                      onclick="cancelOrder('{{../this._id}}','{{../this.productDetail._id}}','{{../this.paymentMethod}}','{{../this.quantity}}')">Cancel
                      Order</button>

                  </div>
                  {{/isEqual}}
                  {{#isEqual this.status 'Shipped'}}
                  <div class="col-md-6" data-html2canvas-ignore="true">
                    <button class="btn btn-danger"
                      style="border-radius: 6px; background-color: rgb(245, 21, 21); color: white;"
                      onclick="cancelOrder('{{../this._id}}','{{../this.productDetail._id}}','{{../this.paymentMethod}}','{{../this.quantity}}')">Cancel
                      Order</button>
                  </div>
                  {{/isEqual}}
                  {{#isEqual this.status 'Out for Delivery'}}
                  <div class="col-md-6" data-html2canvas-ignore="true">
                    <button class="btn btn-danger"
                      style="border-radius: 6px; background-color: rgb(245, 21, 21); color: white;"
                      onclick="cancelOrder('{{../this._id}}','{{../this.productDetail._id}}','{{../this.paymentMethod}}','{{../this.quantity}}')">Cancel
                      Order</button>
                  </div>
                  {{/isEqual}}
                  {{#isEqual this.status 'Delivered'}}
                  <div class="col-md-6" data-html2canvas-ignore="true">
                    <button class="btn btn-danger"
                      style="border-radius: 6px; background-color: rgb(212, 139, 55); color: white;"
                      onclick="returnOrder('{{../this._id}}','{{../this.productDetail._id}}')">Return Order</button>
                  </div>
                  {{/isEqual}}


                </div>
              </div>
            </div>
            {{/each}}


            {{!-- <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0">Order Details</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> $898.00</p>
            </div>

            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0">Invoice Number : 788152</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $19.00</p>
            </div>


            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">Invoice Date : 22 Dec,2019</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p>
            </div>

            <div class="d-flex justify-content-between mb-5">
              <p class="text-muted mb-0">Recepits Voucher : 18KU-62IIK</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
            </div> --}}
          </div>

          <div class="mt-2 ms-5">
            <h4>Order Details</h4>
            <p>Invoice Number : 12345</p>
            <p>Invoice Date : {{date}}</p>
            <p>Sub Total : {{totalPaid}}</p>
            <p>Discount applied :{{discountAmount}}</p>
          </div>

          <div class="card-footer border-0 px-4 py-5"
            style="background-color: #292560; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
              paid: <span class="h2 mb-0 ms-2"> ₹ {{finalAmount}}</span></h5>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

{{!-- cdn for html2pdf --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js"></script>


<script>
  function generatePDF() {
    const invoicePDF = document.getElementById('invoice')
    html2pdf(invoicePDF, {
      margin: 15,
      filename: 'techtreatsinvoice.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2, logging: true, dpi: 192, letterRendering: true },
      jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
    })
  }


</script>

<script>


  // Reason submit test




  //cancel order
  function cancelOrder(orderId, prodId, paymentMethod, quantity) {
    console.log(orderId, prodId, paymentMethod, quantity, "this is the order id  and prod id ,payment,quantity passed to the fucntion")

    if (paymentMethod === 'COD') {
      console.log("Payment method is COD")

      swal({
        title: "Are you sure?",
        text: "Are you sure you want to cancel the order?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            swal({
              title: 'Enter Reason',
              text: '*Please enter reason for cancellation !',
              content: {
                element: 'input',
                attributes: {
                  placeholder: "Reason",
                  type: 'text',
                  required: 'true'
                },
              },
              buttons: {
                cancel: true,
                confirm: {
                  text: "Submit",
                  value: true,
                  visible: true,
                  className: "btn-danger",
                  closeModal: true
                }
              }
            }).then((reason) => {
              if (reason) {

                $.ajax({
                  url: '/cancel-product',
                  data: {
                    reason: reason,
                    orderId: orderId,
                    productId: prodId,
                    quantity: quantity,
                    cancelStatus: 'Cancelled'
                  },
                  method: 'post',
                  success: (response) => {
                    console.log(response)
                    if (response.status) {
                      swal("Poof! Your order has been cancelled!", {
                        icon: "success",
                      }).then(() => {
                        location.reload()
                      })
                    }
                    else {
                      swal("Order remains")
                    }
                  }
                })

              }
              else {
                swal("Please enter a reason and retry")
              }
            })
          }
        })
    }

    else {
      console.log("Other payment methods")

      swal({
        title: "Are you sure?",
        text: "Are you sure you want to cancel the order?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            swal({
              title: 'Enter Reason',
              text: 'Please enter reason for cancellation !',
              content: {
                element: 'input',
                attributes: {
                  placeholder: "Reason",
                  type: 'text'
                },
              },
              buttons: {
                cancel: true,
                confirm: {
                  text: "Submit",
                  value: true,
                  visible: true,
                  className: "btn-danger",
                  closeModal: true
                }
              }
            })
              .then((reason) => {
                if (reason) {

                  $.ajax({
                    url: '/cancel-product',
                    data: {
                      reason: reason,
                      orderId: orderId,
                      productId: prodId,
                      quantity: quantity,
                      cancelStatus: 'Cancel Requested'
                    },
                    method: 'post',
                    success: (response) => {
                      console.log(response)
                      if (response.status) {
                        swal("Cancel Request Inititated !", {
                          icon: "success",
                        }).then(() => {
                          location.reload()
                        })
                      }
                      else {
                        swal("Order remains")
                      }
                    }
                  })

                }
              })
          }
        })
    }
  }
  //return order

  function returnOrder(orderId, prodId) {
    console.log(orderId, prodId, "Ids for return order")

    swal({
      title: "Return Request",
      text: "Are you sure you want to return the order?",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
      .then((willReturn) => {
        if (willReturn) {
          swal({
            title: 'Enter Reason',
            text: 'Please enter reason for Returning !',
            content: {
              element: 'input',
              attributes: {
                placeholder: "Reason",
                type: 'text'
              },
            },
            buttons: {
              cancel: true,
              confirm: {
                text: "Submit",
                value: true,
                visible: true,
                className: "btn-danger",
                closeModal: true
              }
            }
          })
            .then((reason) => {
              if (reason) {
                $.ajax({
                  url: '/return-product',
                  data: {
                    reason: reason,
                    orderId: orderId,
                    productId: prodId,
                    returnStatus: 'Return Requested'
                  },
                  method: 'post',
                  success: (response) => {
                    console.log(response)
                    if (response.status) {
                      swal("Cancel Request Inititated !", {
                        icon: "success",
                      }).then(() => {
                        location.reload()
                      })
                    }
                    else {
                      swal("Order remains")
                    }
                  }
                })
              }
            })
        }
      })
  }


</script>