<section>
    <div class="container">
        <div class="row">
            
        </div>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Address</th>
                    <th scope="col">Town/City</th>
                    <th scope="col">Pin Code</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Status</th>
                    <th scope="col">View</th>

                    {{!-- <th scope="col">sub-Image2</th>
                    <th scope="col">sub-Image3</th>
                    <th scope="col">sub-Image4</th> --}}
                </tr>
            </thead>
            <tbody>

                {{#each orderDetails}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.date}}</td>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.city}}</td>
                    <td>{{this.deliveryDetails.pincode}}</td>
                    <td>{{this.deliveryDetails.mobile}}</td>
                    <td>₹ {{this.finalPrice}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.OrderStatus}}</td>
                    <td><a class="btn btn-primary" href="/view-product-cards/{{this._id}}">View Products</a></td>
                    

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>